.elements {
    max-width: 882px;
    margin: 0 auto;
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    
}

@media screen and (max-width:882px) {
    .elements {
        padding-left: 19px;
        padding-right: 19px;
    
}}