.button_type_close{
    position: absolute;
    top:-48px;
    right: -48px;
    background:none;
    border: none;
}
.button_type_close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width:530px){
    .button_type_close {
        right: -10px;
        top: -30px;
    }
}